In [37]:
import pandas as pd

# from oauth2client.service_account import ServiceAccountCredentials 
from googleapiclient.discovery import build
from google.oauth2.service_account import Credentials

In [4]:
CREDENTIALS_PATH_GOOGLE = 'google-credentials.json'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']
SPREADSHEET = '1b75J-QTGrujSgF9r0_JPOKkcXAwzFVwpETOAyVBw8ak'

In [5]:
# Load service account credentials.
__credentials = Credentials.from_service_account_file(CREDENTIALS_PATH_GOOGLE, scopes=SCOPES)

# Creates Google Sheets API (v4/latest) service.
service = build('sheets', 'v4', credentials=__credentials)

In [56]:
# Gets values from Ach! Musik: Notations sheet.
values = service.spreadsheets().values().get(spreadsheetId=SPREADSHEET, range='Notations').execute()['values']
headers = values.pop(0)

In [99]:
# Format data as pd.DataFrame
data = pd.DataFrame(values, columns=headers)
data

,genre,sub_genre,artist,album,song,ntQ,ntG,ntV,ntR,ntS,ntGl,ntRx,ntC,ntL
0,Pop,Disco,Abba,Abba,"I do, I do, I do, I do, I do",8,"8,5",5,8,,,,,5
1,Pop,Disco,Abba,Abba,Mamma Mia,"8,5","8,75","6,5","8,3",,6,None,None,None
2,Pop,Disco,Abba,Abba,SOS,9,9,7,"8,4",,"6,25",None,None,None
3,Pop,Disco,Abba,Arrival,"Knowing me, knowing you","7,5","8,5","5,5","6,5",None,None,None,None,None
4,Pop,Disco,Abba,Super Trouper,Lay all your love on me,8,"8,5",4,"8,5",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Rock,Hard Rock,ZZ Top,Eliminator,If I Could Only Flag Her Down,"7,5",,7,None,None,None,None,None,None
1486,Rock,Hard Rock,ZZ Top,Eliminator,Legs,"9,25",,8,"8,6",,,,"6,5",None
1487,Rock,Hard Rock,ZZ Top,Eliminator,Sharp Dressed Man,9,,"8,5",9,None,None,None,None,None
1488,Rock,Hard Rock,ZZ Top,Eliminator,Thug,"8,25",,"8,75",None,None,None,None,None,None
1489,Rock,Hard Rock,ZZ Top,Eliminator,TV Dinners,"7,75",,7,None,None,None,None,None,None

In [60]:
# Saving as csv for later use
data.to_csv("../data/achmusik.csv", index=False, decimal=",")

In [100]:
# Getting the decimals right -- commas to points and no more Nones
data.fillna(value="", inplace=True)

for i in range (5, data.columns.size):
    data[data.columns[i]] = [x.replace(",", ".") for x in data[data.columns[i]]]
    data[data.columns[i]] = pd.to_numeric(data[data.columns[i]], errors='coerce')
data

,genre,sub_genre,artist,album,song,ntQ,ntG,ntV,ntR,ntS,ntGl,ntRx,ntC,ntL
0,Pop,Disco,Abba,Abba,"I do, I do, I do, I do, I do",8.00,8.50,5.00,8.0,NaN,NaN,NaN,NaN,5.0
1,Pop,Disco,Abba,Abba,Mamma Mia,8.50,8.75,6.50,8.3,NaN,6.00,NaN,NaN,NaN
2,Pop,Disco,Abba,Abba,SOS,9.00,9.00,7.00,8.4,NaN,6.25,NaN,NaN,NaN
3,Pop,Disco,Abba,Arrival,"Knowing me, knowing you",7.50,8.50,5.50,6.5,NaN,NaN,NaN,NaN,NaN
4,Pop,Disco,Abba,Super Trouper,Lay all your love on me,8.00,8.50,4.00,8.5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Rock,Hard Rock,ZZ Top,Eliminator,If I Could Only Flag Her Down,7.50,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN
1486,Rock,Hard Rock,ZZ Top,Eliminator,Legs,9.25,NaN,8.00,8.6,NaN,NaN,NaN,6.5,NaN
1487,Rock,Hard Rock,ZZ Top,Eliminator,Sharp Dressed Man,9.00,NaN,8.50,9.0,NaN,NaN,NaN,NaN,NaN
1488,Rock,Hard Rock,ZZ Top,Eliminator,Thug,8.25,NaN,8.75,NaN,NaN,NaN,NaN,NaN,NaN
1489,Rock,Hard Rock,ZZ Top,Eliminator,TV Dinners,7.75,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN

## Transforming notes into ranks

In [101]:
for i in range (5, data.columns.size):
    data[data.columns[i]] = data[data.columns[i]].rank()
data

,genre,sub_genre,artist,album,song,ntQ,ntG,ntV,ntR,ntS,ntGl,ntRx,ntC,ntL
0,Pop,Disco,Abba,Abba,"I do, I do, I do, I do, I do",701.5,347.0,43.5,107.0,NaN,NaN,NaN,NaN,3.0
1,Pop,Disco,Abba,Abba,Mamma Mia,980.5,434.0,162.0,131.0,NaN,8.5,NaN,NaN,NaN
2,Pop,Disco,Abba,Abba,SOS,1170.0,503.5,242.5,138.5,NaN,11.0,NaN,NaN,NaN
3,Pop,Disco,Abba,Arrival,"Knowing me, knowing you",377.5,347.0,58.5,26.0,NaN,NaN,NaN,NaN,NaN
4,Pop,Disco,Abba,Super Trouper,Lay all your love on me,701.5,347.0,16.0,143.5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Rock,Hard Rock,ZZ Top,Eliminator,If I Could Only Flag Her Down,377.5,NaN,242.5,NaN,NaN,NaN,NaN,NaN,NaN
1486,Rock,Hard Rock,ZZ Top,Eliminator,Legs,1219.5,NaN,461.5,150.5,NaN,NaN,NaN,10.0,NaN
1487,Rock,Hard Rock,ZZ Top,Eliminator,Sharp Dressed Man,1170.0,NaN,582.5,179.0,NaN,NaN,NaN,NaN,NaN
1488,Rock,Hard Rock,ZZ Top,Eliminator,Thug,846.0,NaN,641.5,NaN,NaN,NaN,NaN,NaN,NaN
1489,Rock,Hard Rock,ZZ Top,Eliminator,TV Dinners,532.5,NaN,242.5,NaN,NaN,NaN,NaN,NaN,NaN