In [37]:
import pandas as pd

# from oauth2client.service_account import ServiceAccountCredentials 
from googleapiclient.discovery import build
from google.oauth2.service_account import Credentials

In [4]:
CREDENTIALS_PATH_GOOGLE = 'google-credentials.json'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']
SPREADSHEET = '1b75J-QTGrujSgF9r0_JPOKkcXAwzFVwpETOAyVBw8ak'

In [5]:
# Load service account credentials.
__credentials = Credentials.from_service_account_file(CREDENTIALS_PATH_GOOGLE, scopes=SCOPES)

# Creates Google Sheets API (v4/latest) service.
service = build('sheets', 'v4', credentials=__credentials)

In [56]:
# Gets values from Ach! Musik: Notations sheet.
values = service.spreadsheets().values().get(spreadsheetId=SPREADSHEET, range='Notations').execute()['values']
headers = values.pop(0)

In [57]:
# Format data as pd.DataFrame
data = pd.DataFrame(values, columns=headers)
data

,genre,sub_genre,artist,album,song,ntQ,ntG,ntV,ntR,ntS,ntGl,ntRx,ntC,ntL
0,Pop,Disco,Abba,Abba,"I do, I do, I do, I do, I do",8,"8,5",5,8,,,,,5
1,Pop,Disco,Abba,Abba,Mamma Mia,"8,5","8,75","6,5","8,3",,6,None,None,None
2,Pop,Disco,Abba,Abba,SOS,9,9,7,"8,4",,"6,25",None,None,None
3,Pop,Disco,Abba,Arrival,"Knowing me, knowing you","7,5","8,5","5,5","6,5",None,None,None,None,None
4,Pop,Disco,Abba,Super Trouper,Lay all your love on me,8,"8,5",4,"8,5",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Rock,Hard Rock,ZZ Top,Eliminator,If I Could Only Flag Her Down,"7,5",,7,None,None,None,None,None,None
1486,Rock,Hard Rock,ZZ Top,Eliminator,Legs,"9,25",,8,"8,6",,,,"6,5",None
1487,Rock,Hard Rock,ZZ Top,Eliminator,Sharp Dressed Man,9,,"8,5",9,None,None,None,None,None
1488,Rock,Hard Rock,ZZ Top,Eliminator,Thug,"8,25",,"8,75",None,None,None,None,None,None
1489,Rock,Hard Rock,ZZ Top,Eliminator,TV Dinners,"7,75",,7,None,None,None,None,None,None

In [60]:
# Saving as csv for later use
data.to_csv("../data/achmusik.csv", index=False, decimal=",")

In [97]:
# Getting the decimals right -- commas to points and no more Nones
data = data.fillna(value="", inplace=True)

for i in range (5, data.columns.size):
    data[data.columns[i]] = [x.replace(",", ".") for x in data[data.columns[i]]]
    data[data.columns[i]] = pd.to_numeric(data[data.columns[i]], errors='coerce')
data

AttributeError: 'NoneType' object has no attribute 'columns'

In [59]:
data

,genre,sub_genre,artist,album,song,ntQ,ntG,ntV,ntR,ntS,ntGl,ntRx,ntC,ntL
0,Pop,Disco,Abba,Abba,"I do, I do, I do, I do, I do",8,"8,5",5,8,,,,,5
1,Pop,Disco,Abba,Abba,Mamma Mia,"8,5","8,75","6,5","8,3",,6,None,None,None
2,Pop,Disco,Abba,Abba,SOS,9,9,7,"8,4",,"6,25",None,None,None
3,Pop,Disco,Abba,Arrival,"Knowing me, knowing you","7,5","8,5","5,5","6,5",None,None,None,None,None
4,Pop,Disco,Abba,Super Trouper,Lay all your love on me,8,"8,5",4,"8,5",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Rock,Hard Rock,ZZ Top,Eliminator,If I Could Only Flag Her Down,"7,5",,7,None,None,None,None,None,None
1486,Rock,Hard Rock,ZZ Top,Eliminator,Legs,"9,25",,8,"8,6",,,,"6,5",None
1487,Rock,Hard Rock,ZZ Top,Eliminator,Sharp Dressed Man,9,,"8,5",9,None,None,None,None,None
1488,Rock,Hard Rock,ZZ Top,Eliminator,Thug,"8,25",,"8,75",None,None,None,None,None,None
1489,Rock,Hard Rock,ZZ Top,Eliminator,TV Dinners,"7,75",,7,None,None,None,None,None,None